* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Abode;
}

:root {
    --primary-color: #1d2126;
    --secondary-color: #3a454d;
  }

header {
    position: relative;
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 30px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);

}
 h1{


 }
 
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

header ul li {
    list-style: none;
    margin-left: 10px;

}

header ul li a {
    text-decoration: none;
    padding: 4px 10px;
    margin: auto;
    color: #fff;
    border-radius: 7px;
    font-size: 12px;
    background: transparent;

}

header ul li a:hover {
    border: 1px solid #fff;
    color: #fff;
}

header ul li a.active{
    border: 2px solid #068b75;
    color: #068b75;
}

.banner {
    width: 100%;
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0,0,0,0.5)), url(../images/pic.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text-box {
    width: 100%;
    color: #fff;
}
 .text-box h1{
   font-size: 30px;
   color: #fff;
   text-align: left;
   font-family:  Arial, Helvetica, sans-serif;
   padding-left: 150px;
}

.text-box p {
    margin: 10px 0px 40px;
    font-size: 14px;
    color: #fff;
    text-align: left;
    padding-left: 150px;
    margin: 15px 0px 40px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    
}
.button-group{
    text-align: left;
    padding-left: 150px;
}



.button-group .btn-1 {
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    border-radius: 6px;
    margin: 10px 5px;
}

.button-group .btn-1:hover {
    border: 2px solid #025f50;
    background-color: #025f50;
}

.modest {
    width: 100%;
    height: 50vh;
    border-bottom: 1px solid rgb(61, 59, 59);
}

.modest h1 {
    font-size: 30px;
    color: #373d44;
    margin-left: 10px;
}

.modest-main {
    margin-top: 50px;
}
.modest .left-side {
    width: 50%;
    font-size: 15px;
    color: #000;
    text-align: left;
    padding-left: 150px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    float: left;

}

.modest .left-side p{
    color: #abadaf;
}


.modest .left-side .icon {
    margin-top: 30px;
    margin-bottom: 50px;
}

.social-media {
    display: flex;
}
.social-media div{
        width: 45px;
    background-color: #c8cdd0;
    height: 45px;
    display: flex;
    justify-content: center;
    margin-left: 2px;
}

.modest-heading {
    display: flex;
    padding-top: 60px;
    margin-left: 150px;
}

.modest-heading div{
    height: 30px;
    width: 8px;
    background: #c8cdd0;
}

.modest-heading h1{
    margin-left: 15px;
}

.modest .left-side .icon a {
    color: #fff;
    margin: 0px 1px;
    padding: 10px;
    font-size: 17px;
    text-decoration: none;
}

.social-media div:hover {
    background-color: #dcdee2;
}

.modest .right-side {
    width: 50%;
    justify-content: end;
    float: right;
    letter-spacing: 0.4px;
    line-height: 1.5;
}

.right-side .right-box {
    display: flex;
    margin-bottom: 30px;
}

.right-side .right-box .item{
    height: 45px;
    width: 45px;
    background: #23b7a4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-box  .item-right {
    margin-left: 20px;
}

.item-right h4 {
    text-transform: uppercase;
    margin-top: -5px;
}

.item-right p {
    color: #999b9d;
}

.right-box .item h4 {
    color: white;
}



/*--------------------------------  TEAM MEMBER CSS START  ----------------------------------- */
.team {
    width: 100%;
    /* height: 85vh;  */
    padding-bottom: 140px;
}

.team h1 {
    font-size: 30px;
    color: black;
    text-align: left;
    padding-left: 170px;
    margin: 40px 0px;
    text-transform: uppercase;
}



.layer .social-icon {
    padding: 18px;
    background-color: #3a454d;
    margin-left: 5px;
    cursor: pointer;
}

.layer .social-icon:hover{
    background-color: #4e5a62;
}

.social-icon a i {
    color: white;
    font-size: 20px;
}

.member-image {
    display: flex;
}
.member-image img{
    height: 100%;
}

.member-detail{
    padding: 20px 15px;
    background-color: #e1e6ea;
}

.member-detail p{
    color: #8b9197;
    margin-top: 5px;
}

.team .team-task{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    grid-column-gap: 10px;
    padding-left: 155px;
    padding-right: 280px;
    
}


.team-member{
    position: relative;
    transition:0.5s all ease-in-out;
}

.layer{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 42%;
    opacity: 0;
    transition:0.5s all ease-in-out;
    z-index: 11;
}
.member-detail  h4{
    color: black;
}

.team-member:hover .member-image{
    opacity: 0.6;
    transition:0.5s all ease-in-out;
} 

.team-member:hover .layer{
    opacity: 1;
    transition:0.5s all ease-in-out;
} 

.team-member:hover .member-detail{
    background-color: var(--secondary-color);
    transition:0.5s all ease-in-out;
}

.team-member:hover .member-detail h4, 
.team-member:hover .member-detail p
{
    color: white;
} 




/*-------------------------------------- section-4 css----------------------------------- */
.lovely-work {
    width: 100%;
    /* height: 100vh; */
    padding: 40px 0px;
    margin-top: 20px;
    background-color: #3a454d;
}

.lovely-work h1 {
    font-size: 30px;
    color: #fff;
    text-align: left;
    /* padding-left: 170px; */
    /* padding-top: 40px; */
}

.lovely-work .work {
    margin-left: 150px;
    margin-top: 40px;
}

.lovely-work .work .img {
    /* padding: 5px; */
}

.more-button {
    margin-left: 100px;
    
}

.button .btn-1 {
    margin-top: 40px;
    margin-bottom: 20px;
    /* margin-left: 32%; */
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    align-items: center;
}

.button .btn-1:hover {
    border: 2px solid #025f50;
    background: #025f50;
    transition: 1s;
}

.work-container {
    display: flex;
    margin-top: 20px;
}

.work-box {
    position: relative;
    padding-left: 10px;
}

.work-text {
    background-color: #292f36;
    padding: 20px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    width: -webkit-fill-available;
    opacity: 0;
}

.plus-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 0;
}

.plus-icon :first-child{
    font-size: 40px;
    color: white;
}

.work-text :first-child {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.work-box:hover img{
    opacity: 0.6;
}
.work-box:hover .work-text,
.work-box:hover .plus-icon {
    opacity: 1;
    transition: 0.5s all ease-in-out;
}

/*--------------------------- section-5 css------------------------------- */
.service {
    width: 100%;
    margin-bottom: 120px;
}

.service h1 {
    font-size: 30px;
    color: black;
    text-align: left;
    padding-left: 170px;
    padding-top: 40px;
}

.icon-bar {
    margin-left: 150px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-right: 170px;
}

.icon-bar .icons h3 {
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

.icons div {
    margin-top: -10px;
}

.icon-bar .icons p {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
    color: #999b9d;
}

.icon-bar .icons img {
    /* margin-left: 120px; */
    margin-bottom: 20px;
    padding: 8px;
    display: flex;
}

.icons .icon-box {
    display: flex;
    justify-content: center;
}

/* -------------------------------------sectin-6 css----------------------------------------- */
.feature {
    width: 100%;
    margin: auto;
    background-color: #25383C;
    padding: 10px 0px;
    padding-bottom: 80px;
}

.feature h1 {
    font-size: 30px;
    color: black;
    text-align: left;
    color: #fff;
}


.feature-img {
    margin-left: 150px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;

}



.feature .post h3 {
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Coda';
    text-align: center;
    margin-top: 25px;
    text-align: left;
    color: #fff;
}

.feature .post p {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    text-align: left;
    line-height: 20px;
    color: #fff;
}

.feature.post img {
    padding: 0px;
    width: 330px;
    height: 240px;
}

/*-------------------------------------- section-7 css------------------------------------ */

.google-map{
    width: 100%;
    height: 80vh;
    margin-top: 40px;


}

.google-map h1 {
    font-size: 30px;
    color: black;
    padding: 40px 0px 30px 170px;

}

.google-map iframe {
    width: 100%;
    height: 60vh;
}

/*------------------------------------- contact-information------------------------------ */

.google-map.contact {
    width: 100%;
    height: 40vh;

}

.google-map .contact .form {
    width: 35%;
    height: 58vh;
    float: right;
    position: relative;
    margin-right: 150px;
    padding: 40px;
    margin-top: -66px;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.google-map .contact .contact-in {
    width: 50%;
    height: 50vh;

}

.google-map .contact .contact-in h3 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    text-align: left;
    margin-left: 170px;
}

.google-map
 .contact .contact-in p {
    margin-top: 30px;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    text-align: left;
    margin-left: 160px;
    letter-spacing: 0.3;
}

.field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(54, 54, 54, 0.1);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 3s;
    font-size: 14px;
}

.field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 90px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 2px solid #000;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px 20px 20px 110px;
    text-transform: uppercase;
}

.btn:hover {
    transition: 1s;
    border: 2px solid #23b7a4;
    background-color: #23b7a4;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #3a454d;

}

.footer p {
    margin-left: 160px;
    font-size: 17px;
    padding-top: 20px;
    float: left;
    color: #fff;
    letter-spacing: 1px;
}



.footer .footer-img {
    float: right;
    margin-right: 180px;
    margin-top: 20px;
}


